@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.margin-x-15{
  margin: 0 15px !important;
}
.margin-x-5{
  margin: 0 5px !important;
}
.table-w-80{
  width: 80% !important;
}
.bg-custom-header{
  background-color:  rgb(255 255 255) !important;
  /* background-color: red; */
}
.w-slide {
  width: 100% ; /* Default width for mobile devices */
}

@media (min-width: 640px) {
  .w-slide {
    width: 25%; /* Width for screens 640px and above */
  }
}
.video-container {
  position: relative;
  width: 100%;
  max-width: 640px;
  margin: auto;
}
.mr-6{
  margin-right: 24px;
}

.custom-video-border {
  border: 2px solid #000; /* Thay đổi màu sắc và độ dày của viền tùy ý */
  border-radius: 8px; /* Thêm bo tròn cho viền nếu muốn */
}
/* .vjs-watermark {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  z-index: 10;
} */